{% extends "layout.html" %}
{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">City Name</th>
        <th scope="col">Latitude Degrees</th>
        <th scope="col">Latitude Minutes</th>
        <th scope="col">Latitude Seconds</th>
        <th scope="col">North/South</th>
        <th scope="col">Longitude Degree</th>
        <th scope="col">Longitude Minutes</th>
        <th scope="col">Longitude Seconds</th>
        <th scope="col">East/West</th>
        <th scope="col">State</th>
    </tr>
    </thead>
    <tbody>
    {% for city in cities %}
    <tr>
        <td><a href="view/{{city.id}}">{{ city.City }}</a></td>
        <td>{{ city.LatD }}</td>
        <td>{{ city.LatM }}</td>
        <td>{{ city.LatS }}</td>
        <td>{{ city.NS }}</td>
        <td>{{ city.LonD }}</td>
        <td>{{ city.LonM }}</td>
        <td>{{ city.LonS }}</td>
        <td>{{ city.EW }}</td>
        <td>{{ city.State }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}